In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.options.display.float_format = '{:.2f}'.format
df_original = pd.read_parquet(r"DataSet Project/football-transfermarkt-dataset-01/appearances.parquet")
df_original.head()

#df_original.isnull().sum()

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,2,0,90
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,0,0,90
2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,0,0,45
3,2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,0,0,90
4,2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,0,1,90

In [2]:
df_original.shape

(478176, 5)

In [3]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478176 entries, 0 to 478175
Data columns (total 5 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   player_id                            478176 non-null  int64
 1   date                                 478176 non-null  object
 2   market_value_in_eur                  478176 non-null  int64
 3   current_club_id                      478176 non-null  int64
 4   player_club_domestic_competition_id  478176 non-null  object
dtypes: int64(3), object(2)
memory usage: 18.2+ MB

In [4]:
df_original.describe()

       player_id  market_value_in_eur  current_club_id
count  478176.00            478176.00        478176.00
mean   213003.84           2410054.93          4122.20
std    195655.98           6814635.89          9683.19
min        10.00                 0.00             3.00
25%     57825.00            200000.00           369.00
50%    157635.00            500000.00          1010.00
75%    315853.00           1600000.00          2969.00
max   1247360.00         200000000.00         83678.00

In [27]:
df_original.groupby(['player_club_domestic_competition_id']).size()

player_club_domestic_competition_id
BE1     29590
DK1     23130
ES1     40277
FR1     32370
GB1     31634
GR1     38615
IT1     53056
L1      36191
NL1     29646
PO1     33182
RU1     35062
SC1     19132
TR1     53730
UKR1    22561
dtype: int64

In [ ]:
df_original.date.value_counts().plot(kind='bar',title='',color=['#219ebc', '#023047']);

In [ ]:
df_original.isnull().sum()

In [18]:
df_original['date'] = df_original['date'].astype('datetime64[ns]')

In [20]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478176 entries, 0 to 478175
Data columns (total 5 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   player_id                            478176 non-null  int64
 1   date                                 478176 non-null  datetime64[ns]
 2   market_value_in_eur                  478176 non-null  int64
 3   current_club_id                      478176 non-null  int64
 4   player_club_domestic_competition_id  478176 non-null  object
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 18.2+ MB